
body{
    display: block;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;    
}
 
#tweet{
    text-decoration: none;
}

#tweet:hover{
    text-decoration: none;
}

hr{
    opacity: 0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
}
  

.outer_wrapper{ 
    display: block;
    margin: 10px 180px;
   /* border: 3px solid red;*/
}
/*
.nav_panel {
    border: 1px solid red;    
    overflow: hidden; 
}

.nav_panel a{
    float: left;
    color: #1a1818;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.nav_panel a:hover{
    background-color: #ddd;
  color: black;
}
*/
.nav_container a
{
   color: rgb(39, 37, 37);
   font-weight: bold;
}

#top_head{
     
    /*border: 3px solid black;*/
    margin: 10px 10px;
    padding: 5px 5px;    
}

#img_container{ 
    padding-top: 30px;
    float: left;
     
    text-align: center;
}


#text_container{
     
    padding: 5px 5px;
    margin-left: 160px;
   /* border: 3px solid green;*/
}

.fab {
    font-size: 36px;
    color: black;     
}

.fab:hover{
    opacity: 0.4;
}

.hot_area
{   
    margin: 10px 10px;
    padding: 5px 5px;    
    display: flex;
}

#bio{   
    padding: 5px 10px 5px 5px; 
    /*border: 3px solid blue;*/
     width: 70%;
    text-align: justify;   
}

#news{  
    border-left: 1px solid rgb(211, 209, 209);  
    padding: 5px 5px 5px 10px;
    width: 30%;     
}

#education{
    /*border: 3px solid black;*/
    margin: 10px 10px;
    padding: 5px 5px; 
}

#publications{
    /*border: 3px solid black;*/
    margin: 10px 10px;
    padding: 5px 5px; 
}

#exps{
   /* border: 3px solid black;*/ 
    margin: 10px 10px;
    padding: 5px 5px; 
}

#refer{
   /* border: 3px solid black;*/
    margin: 10px 10px;
    padding: 5px 5px;
}

#foot_name{
    color: rgb(134, 134, 134);
}

#foot_name:hover{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
   
    #img_container{ 
        float: none; 
       text-align: center;
        }
    #text_container{
        margin-left: 0px;
        text-align: center;
    }
    .outer_wrapper{
        margin:10px 10px;
    }
    .nav_panel a{   
       padding: 10px 12px;        
        font-size: 12px;
    }
    
  }



  @media only screen and (max-width: 1200px)
  {
    .outer_wrapper{
        margin:10px 10px;
    }

    .hot_area{
        display: block;
    }
    #bio{
         width: auto;            
    }
    
    #news{        
        width: auto;  
        border-left: 0px;
        padding-left: 5px;        
    }
  }