/*Font import*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
body {
  background-color: rgb(245, 245, 245) !important;
}

a {
  text-decoration: none !important;
}

h2 {
  font-size: calc(25px + 0.5vw);
  margin-top: 4% !important;
}
.headColor {
  color: #527bbd;
  font-family: "Heebo", sans-serif;
}

.containerProperty {
  background-color: white;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 2px;
  padding-top: 5% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  text-align: justify;
  font-family: "Heebo", sans-serif;
  font-size: calc(10px + 0.5vw);
}

.subHead {
  font-size: calc(15px + 0.5vw);
  font-weight: 600;
}

.timePeriod {
  font-size: calc(10px + 0.5vw);
  padding-left: 4%;
}

footer {
  color: rgb(187, 186, 186);
  font-size: calc(8px + 0.5vw);

  padding-left: 10% !important;
  padding-right: 10% !important;
}

footer a {
  color: rgb(155, 155, 155);
}

footer a:hover {
  color: rgb(0, 0, 0);
}
